* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url('../Asset/photo/black_net_4k_hd_black.jpg');
    /* background-image: url('../Asset/photo/black_net_4k_hd_black.jpg'); */
    background-size: cover;
    background-position: center;
    background-color: #26252b;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

.links a:hover {
    color: #003cbf;
    transition: all 0.3s ease;
}

header {
    position: relative;
    padding: 0 1rem;
    background-color: #00000085;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.navbar .logo a {
    font-size: 2.2rem;
    font-weight: bold;
}

.navbar .logo span {
    color: #003cbf;
    transition: all 0.3s ease;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.navbar .menu_burger {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.navbar .boutons {
    display: flex;
    gap: 20px;
}

.bouton {
    background-color: #003cbf;
    color: #fff;
    border: 1px solid #003cbf;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.bouton:hover {
    background-color: #fff;
    color: #003cbf;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.bouton.pro {
    background-color: transparent;
    color: #003cbf;
    border: 1px solid #003cbf;
}

.bouton.pro:hover {
    transition: all 0.3s ease;
    color: #fff;
    border: 1px solid #fff;
}

.bouton.bouton.pro i {
    margin-right: 0.5rem;
    color: #003cbf;
}